@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="container mt-5 text-center">
    <h1 class="text-danger">Access denied</h1>
    <p>You do not have access to this resource.</p>

    <form asp-controller="Account" asp-action="Logout" method="post" class="mt-4">
        @Html.AntiForgeryToken()
        <button class="btn btn-danger">Sair</button>
    </form>

    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary mt-3">
        Voltar para Home
    </a>
</div>
